In [1]:
# import 3rd party packages
import pandas as pd

In [2]:
# read CSV as dataframe
df = pd.read_csv('input.csv',sep=' ',names=['direction','amount'])

In [3]:
df.head()

  direction  amount
0   forward       2
1   forward       3
2   forward       5
3   forward       6
4      down       7

In [4]:
# sum the forward, up, and down values separately
forward = df[ df['direction'] == 'forward' ].amount.sum()
up = df[ df['direction'] == 'up' ].amount.sum()
down = df[ df['direction'] == 'down' ].amount.sum()

In [5]:
# calculate the depth based on the up and down directions given from the problem statement
# down adds depth and up reduces it
depth = down - up

In [8]:
df.head()

  direction  amount
0   forward       2
1   forward       3
2   forward       5
3   forward       6
4      down       7

In [37]:
df.size

2000

In [21]:
df.iloc[0].to_dict()

{'direction': 'forward', 'amount': 2}

In [33]:
df.iloc[0].to_dict()['amount']

2

In [42]:
depth = 0
aim = 0
horizontal = 0
for index, row in df.iterrows():
    rowDict = row.to_dict()
    if 'forward' in rowDict.values():
        horizontal += rowDict['amount']
        depth += aim * rowDict['amount']
    elif 'up' in rowDict.values():
        aim -= rowDict['amount']
    elif 'down' in rowDict.values():
        aim += rowDict['amount']

In [43]:
horizontal

1925

In [44]:
aim

879

In [45]:
depth

908844

In [46]:
depth*horizontal

1749524700